# STM CubeIDE
Middlewares/**
Debug/**
test_freertos_dmc_ctrl_encoder Debug.launch

# vscode
.vscode

# etc
xetc

# FreeRTOS
FreeRTOS/Source/portable/*
!FreeRTOS/Source/portable/GCC/ARM_CM4F
!FreeRTOS/Source/portable/MemMang

FreeRTOS/Source/portable/MemMang/*
!FreeRTOS/Source/portable/MemMang/heap_4.c

# Code line counter
.VSCodeCounter/

# Todo from LIP directory
LIP/TODO.txt
