Middlewares/**
Debug/**
# .cproject
# .mxproject
# .project
OLD_MAIN_CODE_2.TXT
OLD_MAIN_CODE.TXT
# STM32F429ZITX_FLASH.ld
# STM32F429ZITX_RAM.ld
test_freertos_dmc_ctrl_encoder Debug.launch
notes.md
launch.json
settings.json
tasks.json
stare_freertoscli/
FREERTOS_BASIC_CLI_HOWTO.pdf
encoder_revolutions_pseudo_code.adam.txt
OLD_ENCODERS_TEST_TASK
nastawy_regulatorow.txt
old_code